<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @service.description %>
</p>


<%= link_to 'Edit', edit_admin_service_path(@service) %> |
<%= link_to 'Back', admin_services_path %>