body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.users, .services, .pages, .menus {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}

.users  {
	float: left;
}
.services {
	float: right;
}

  
.pages, .menus{
  clear: both;
}


.menu_item{
  padding-left: 20px;
}

.menu_empty {
  font-weight: bold;
  padding-left: 20px;
}


#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
  