body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: verdana, arial, helvetica, sans-serif;
  
}
a{
	color: black;
}
.users, .services, .pages, .menus {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}

.pages{
  width: 600px;
  float: left;
}
.users  {
  float: right;
	display: block;
	width: 485px;
}
.services {
	float: right;
	  width: 315px;

}
.menus{
  float: left;
}
  
.pages, .menus{
  clear: both;
}

.admin_prefs{
  float: left;
  width: 1000px;  
  clear: both;
}
.menu_item{
  padding-left: 20px;
}

.menu_empty {
  font-weight: bold;
  padding-left: 20px;
}


#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
  

.action_box {
	border: 1px solid black;
	padding: 20px;
	width: 415px;
	height: 80px;
	line-height: 80px;
	margin: 20px;
	text-align: center;
	font-size: 26px;
}

a.action_link{
	text-decoration: none;
	
}

.action_box:hover{
	background: #e1e1e1;
}

.left{
	float: left;
}
.right{
	float: right;
}