*{
	font-family: arial;
}
a, a:visited {
	text-decoration: none;
	color: #667;
}

a:active, a:hover {
}

h2{
  margin: 0px;
}
body{
	margin: 0px !important;
	padding: 0px !important;
	color: white;
	font-size: 18px;
	  background: url(../images/header_bg.png) repeat-x #001;

}
.user_status_container a{
	color: white;
	text-shadow: 1px 2px black;
}

.body_container {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	height: 150px;
}
	.site_title {
	  position: relative;
	  z-index: 0;
		display: block;
		float: left;
		margin: 10px;
		margin-left: 5px;
		font-size: 32px;
		line-height: 40px;
		color: #fff;
	}
	.site_tag_line {
		display: block;
		z-index: 1;
		float: left;
		margin: 0px;
		margin-left: 5px;
		display: block;
		position: relative;
		left: 00px;
		clear: both;
	}
	
	.user_status_container {
	  position: relative;
	  display: block;
	  z-index: 1000;
		right: 0px;
	}
		
		.log_in_and_out{
		  font-size: 16px;
			margin: 5px;
			margin-right: 0px;
			text-align: right;
		}
			
			.log_in_and_out li {
				display: inline;
				margin: 5px;
			}
		
		.number_of_users_logged_in {
			clear: both;
			float: right;
			margin: 5px;
		}
	
	.search {
		clear: both;
		position: relative;
		top: 50px;
		height: 40px;
		display: block;
		width: 260px;
		text-align: right;
		float: right;
	}
		.search input {
			height: 20px;
			font-size: 18px;
		}
.user{
  text-align: right;
}
.navigation_container {
	clear: both;
	display: block;
	position: absolute;
	top: 140px;
	height: 40px;
	width: 100%;
}	
	.navigation_menu_container {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.navigation {
		margin-left: auto !important;
		margin-right: auto !important;
		
	}
/*		.navigation li {
			display: inline-block;
			padding: 5px;
			font-size: 20px;
			border-bottom: none;
			color: white;
			font-weight: 100;
		}
		
		.navigation li a{
		  color: white;
		}
		.navigation li:hover{
			background: #1e1e1e;
			border-bottom: none;
			
		}
		
		.navigation li a:hover{
      border: none;
    }
		li .tab_activated {
			height: 24px;
			line-height: 24px;
			margin-top: -8px;
			background: #e1e1e1;
			border-bottom: none;
			
		}
	
		.tab_deactivated {
		
		}*/

  .side_nav{
    clear: both;
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 200px;
    margin-top: -5px;

  }
    .side_nav li{
      padding: 5px;
      margin: 5px;
      margin-left: 0px;
      padding-left: 0px;
      color: white;
      border-top: 1px black solid;
      border-bottom: 1px black solid;
    }
    
    .side_nav li a{
      color: white;
    }
    
    .side_nav li:hover{
      border-top: 1px dotted #999;
       border-bottom: 1px dotted #999;
    }
    .side_nav li a:hover{
      border: none;
    }
.actual_content{
  float: left;
  width: 750px;
}
.content {
	position: absolute;
	top: 190px;
	margin-left: 5px;
	display: block;
	width: 950px;
	margin-top: 20px;
	height: 500px;
	float: right;
}

  .services, .addresses, .information {
    margin: 10px;
    padding: 10px;
    background: #1e1e1e;
    width: 333px;
    border: 1px solid #777;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .services {
    display: block;
    float: right;
  }
  .addresses {
    display: block;
    float: right;
  }
  .information {
    clear: both;
    float: left;
  }
  
  /* the search view */
  .service_name {
    clear: both;
    font-size: 20px;
    margin: 10px;
    border-bottom: 1px dotted #777;
  }
  .service_description {
    margin-left: 20px;
    margin-bottom: 15px;
    float: left;
    display: block;
    max-width: 400px;
  }
  .people_that_have_this_service{
    float: right;
    margin-right: 20px;
  }

  .flash_notice {
    position: relative;
    left: 0px;
    width: 950px;
    z-index: 200;
    top: -167px;
    background: #ccffcc;
    padding: 10px;
    border: 1px solid #003300;
  }  
  
  
.paid{
  float: left;
}
.unpaid{
  float: right;
}


.search_paidness{
  display: block;
  text-align: right;
  clear: both;
  padding-bottom: 10px;
}
.search_paidness form input{
  font-size: 1.2em;
}

/*
li.submenu ul {display: none;} 
  li.submenu:hover > ul {display: block;} 
*/



/*
	Post stuff
*/
.post_container{
	margin-right: 10px;
}
.post_message{
	padding: 20px;
	margin-bottom: 20px;
	background-color: #222;
	display: block;
}
.post_message .post_options {
	float: right;
}
.post_message .title{
	text-align: left;
	border-bottom: 1px dotted white;
}

.post_message .author {
	text-align: right;
}

.new_post_link {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 20px;
}


/*
stylish mentu

http://www.red-team-design.com/css3-dropdown-menu
*/ 

/* Main menu */
#menu
{
        width: 1000px;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        background: #111;
        background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
        background: -webkit-linear-gradient(#444, #111);
        background: -o-linear-gradient(#444, #111);
        background: -ms-linear-gradient(#444, #111);
        background: linear-gradient(#444, #111);
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.5);
        box-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

#menu li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a
{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
        color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
        color: #fafafa;
}

#menu li:hover > ul
{
        display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
        height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
        text-transform: none;
}

*html #menu ul a /* IE6 */
{
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a /* IE7 */
{
        height: 10px;
        width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */