<div class="admin_prefs" >
<%= render :partial => '/admin/site_prefs/pages' %>
<%= render :partial => '/admin/site_prefs/services' %>
<%= render :partial => '/admin/site_prefs/menus' %>
<%= render :partial => '/admin/site_prefs/users' %>
</div>
