<h1>Change Password</h1>

<% form_for([:admin, @dictionary]) do |f| %>
  <%= f.error_messages %>

  <p>
<%= f.label "Change password" %><br />
<%= f.password_field :value %><br />
  </p>
  <p>
    <%= f.submit 'Set Password' %>
  </p>
<% end %>
