<div class="navigation_container">
	<div class="navigation_background">
	
	</div>
	<div class="navigation_menu_container">
	  <ul class="navigation">
	    <% if horizontal_menu_bar %>
	      <% horizontal_menu_bar.link_pages.sort_by { |e| e.sequence }.each do |page| %>
	        <%= render :partial => "/shared_elements/menu_bar_item", :locals => {:page => page} %>
	      <% end %>
	    <% end %>
	  </ul>
	</div>
	<!--
	<div class="navigation_container">
		<ul class="navigation">
			<li><%= link_to "Home", :controller => :info, :action => :home %></li>
			<li><%= link_to "Map", :controller => :info, :action => :map %></li>
			<li>Guidelines</li>
			<li>Financial Reports</li>
			<li>Contacts</li>
		</ul>
	</div>
	-->
	
</div>