<% if current_user %>
  <ul class="side_nav">
    <li><%= link_to "Calendar", :controller => :info, :action => :calendar %></li>
    <li>Holiday Lights Contest</li>
    <li>Real Estate Agents</li>
    <li>extras</li>
  </ul>
<% end %>