<iframe 
  width="750" 
   height="500" 
   frameborder="0" 
   scrolling="no" 
   marginheight="0" 
   marginwidth="0" 
   src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=woodbury,+mn&amp;sll=37.0625,-95.677068&amp;sspn=62.70117,134.912109&amp;ie=UTF8&amp;hq=&amp;hnear=Woodbury,+Washington,+Minnesota&amp;ll=44.915921,-92.948177&amp;spn=0.007225,0.016469&amp;z=16&amp;output=embed">
</iframe>
<br />
<small>
  <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=woodbury,+mn&amp;sll=37.0625,-95.677068&amp;sspn=62.70117,134.912109&amp;ie=UTF8&amp;hq=&amp;hnear=Woodbury,+Washington,+Minnesota&amp;ll=44.915921,-92.948177&amp;spn=0.007225,0.016469&amp;z=16"
  style="color:#445;text-align:left;margin-left: 200px;">
    View Larger Map
 </a>
</small>