Who has paid and who hasn't?
<div class="paid">
  Paid
  <% @paid.each do |p| %>
    <p>
      <% p.addresses.each do |a| %>
        <%=h a.address_parts.join(", ") %> <br />
      <% end %>
    </p>
  <% end %> 
</div>


<div class="unpaid">
  Unpaid
  <% @unpaid.each do |p| %>
    <p>
      <% p.addresses.each do |a| %>
        <%=h a.address_parts.join(", ") %> <br />
      <% end %>
    </p>
  <% end %> 
</div>
