<div class="search_paidness">
  
  <% form_tag({:controller => :info,
                :action => :search_paid_and_unpaid }) do |f| %>
              Search: <%= text_field_tag 'paid_unpaid_search' %>
        
  <% end %>
          
          <%= observe_field :paid_unpaid_search,
                :frequency=>0.5,
                :update=>'',
                :url=>{
                  :controller => :info,
                  :action=>'search_paid_and_unpaid',
                  :only_path=>false},
                :with=>"'search='+encodeURIComponent(value)" %>
</div>


<div id="real_estate_content">
  <%= render :partial => "/info/real_estate_search" %>
</div>

